.SearchComponent {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .SearchBar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 500px;
    height: 3rem;
    width: 30%;
    background-color: #242424;
    color: #fff;
    padding: 6px 16px;
    border-color: #fff;
 }
 
 .SearchBarInput {
    width: 100%;
    height: 100%;
    background-color: #242424;
    color: #fff;
    border: none;
    padding-left: 5px;
 }
 
 .SearchBarInput:focus {
    outline: none;
 }
 
 @media only screen and (max-width: 720px) {
   .SearchBar {
     min-width: 40%;
   }
 }