.App {
  text-align: center;
  color: #fff;
}

.AppTitle {
  color: #fff;
  font-size: 3rem;
}

strong {
  color: #1db954;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 720px) {
  .AppTitle {
    font-size: 2.5rem;
  }
}